.center-margin {
	margin: 0 auto 30px auto;
}
.input-margin {
	margin-bottom: 5px;
}
td {
	vertical-align: top;
}
div.inline {
	display: inline-block;
}
#schedule {
	-webkit-transition: width 0.5s, margin 0.5s;
	transition: width 0.5s, margin 0.5s;
}